.carousel-container {
    overflow: hidden;
    height: 440px;
}

@media (max-width: 480px) {
    .carousel-container {
        display: flex;
        height: 290px;
        justify-content: space-between;
        overflow-y: hidden;
    }
}
